.leftImageRightText{
    display: flex;
    margin-top: 2rem;
    // width: calc(100% - 228px);
    font-weight: 400;
    .imageContainer{
        width: 341px;
        img{
            width: 100%;
            background-position: center center;
            object-fit: contain;
        }
    }

   .textContainer{
    width: 40%;
    margin-left: 2rem;
    .authorName{
        text-align: left;
        box-sizing: inherit;
        color: #dc0f14;
        font-family: tradegothiclt;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 2rem;
        position: relative;
        font-size: 1.6rem;  
       
    }
    .title{
        h3{
            font-size: 2rem !important;
        }

    }
   }
}

@media only screen and (max-width: 1293px) {
    .leftImageRightText{
        flex-wrap: wrap;
        width: 400px;
        overflow-x: hidden !important;
    }
}