.singlePostContainer{
    margin-top: 1rem;
    width: 50%;
    margin: auto;

}
.authorName{
    margin-top: 1rem;
    display: none;
    margin-bottom: .5rem;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    box-sizing: inherit;
    min-width: 0;
    min-height: 0;
    color: #dc0f14;
    font-family: "TradeGothicLT";
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2rem;
    font-size: 1.6rem;
}
.postTitle{
    font-size: 2.5rem;
}

.date{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-weight: 400;
    text-align: left;
    color: #1d1c1c;
    line-height: 1.5;
    font-family: "TradeGothicLT";
    font-size: 1.4rem;
    box-sizing: inherit;
    min-width: 0;
    min-height: 0;
    margin-top: 0;
    margin-bottom: 1.8rem;
}
.postPicture{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-weight: 400;
    text-align: left;
    color: #1d1c1c;
    font-family: "YsobelPro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.5;
    font-size: 0;
    box-sizing: inherit;
    min-width: 0;
    min-height: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-weight: 400;
    text-align: left;
    color: #1d1c1c;
    font-family: "YsobelPro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.5;
    font-size: 0;
    box-sizing: inherit;
    min-width: 0;
    min-height: 0;
    display: block;
    margin: 0 0 1rem;
    margin-left: 0;
    margin-right: 0;
    img{
       width: 100%;
    }
}

