.insert{
    display: flex;
    padding-top: 1rem;
  }
  #postForm{
    display: flex;
    justify-content: center;
    width: 90vw;
    flex-direction: column;
    margin: auto;
  }
  
  .joddit-form-container{
    width: 90vw;
    margin: 5vh auto;
  }