.logoContainer h1{
    font-size: 73px !important;
    display: flex;
    justify-content: center;
}


.navbar{
  width: 100%;

}
/* This centres the navbar */
.me-auto {
  margin: auto;
}
#basic-navbar-nav a {
color: black;
  text-decoration: none;
  padding: 12px;
  font-size: 24px;
  
}
