@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
  margin: 0;
  width: 100%;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.line{
  border: 0.1px solid black !important;
  width: 50vw;
  margin: auto;
  margin-top: 2rem;
}