.homepage{
    width: 100%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
   .mainPost{
    width: 60%;
    margin: 5vh auto ;
    position: relative;
    .imageContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 90%;
            margin: auto;
        }
    }
    .mainPostSnippet{
        padding: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width:80%;
        margin: auto;
        position: absolute;
        bottom: -35%;
        background-color: white;
        border-radius: 15px;
        
    }
   }
   .singlePost .title h3{
    h3{
        width: 100%;
    }
   }

   .otherPosts{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 12vh auto;
   }

   .horizontalPosts{
    display: flex;
    flex-wrap: wrap;
    margin: 5rem auto;
    justify-content: center;
    img{
        max-width: 100%;
        object-fit: contain;
    }
 
   }
   .remainingPosts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    align-items: center;
    .textContainer{
        width: 35%;
    }
   }
}


// Styling for horizontal post
@media only screen and (max-width: 600px) {
  .homepage{
    .mainPost{
        width: 100%;
        margin: 0;
    }
    .mainPostSnippet{
        padding: 1rem;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        transition: 0.3s;
        width: 96% !important;
        position: relative !important;
        background-color: white;
        border-radius: 1px !important;
        margin: 0 !important;
    }
    .otherPosts{
        overflow-x: hidden;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .textContainer{
        width: auto !important;
    }

    .horizontalPosts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .singlePost{
            margin: 0;
        }
        
       }
    .remainingPosts{
       flex-direction: column;
       width: 80%;
       .textContainer{
        margin-left: 5vw;
        margin-right: 2.0vw;
        width: 81%;
       }
    } 
  }

}

@media only screen and (max-width:927px) {
    .homepage{
        width: 90%;
        margin: auto;
        .mainPostSnippet{
            position: relative;
        }
        .horizontalPosts{
            justify-content: center;
        }
        .otherPosts{
            .textContainer{
            width: 60%;
            }
        }
     
    }
  
  }

  @media only screen and (max-width:1293px) {

   .mainPostSnippet{
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 88% !important;
    position: relative !important;
    background-color: white;
    border-radius: 1px !important;
    margin: 0 !important;
   }
       .otherPosts{
        width: 100%;
        .remainingPosts{
            width: 100%;
            .leftImageRightText {
                width: auto;
                flex-wrap: wrap;
            }
        }
       }
     
    
  
  }